
<div class="box">
  <div class="box_child" *ngFor="let list of lists">
    <div>
    <div class="dog_name">

        <p>Name: {{list.hotdog.name}}</p>

    </div>
    <div class="dog_discription">
        <p>Description</p>
        <p>{{list.hotdog.description}}</p>
    </div>
    <button [routerLink]="['/editHotDog/'+ list.hotdog.id]">Edit</button>
    <button (click)="DeleteHotDog(list.hotdog.id)">Delete</button>
    </div>
    <div class="photo">
      <img [src]="[host+list.path]" alt="" width="100%" height="100%">
    </div>
  </div>


</div>
