
<div class="box">
  <div class="box_child" *ngFor="let list of lists">
    <div>
    <div class="dog_name">

        <p>Name: {{list.name}}</p>

    </div>
    <div class="dog_discription">
        <p>Description:</p>
      <br>
        <p>{{list.description}}</p>
    </div>
    </div>
    <div class="photo">
      <img [src]="[host+list.path]" alt="" width="100%" height="100%">
    </div>
    <div class="button">
      <button [routerLink]="['/editHotDog/'+ list.id]">Edit</button>
      <button (click)="DeleteHotDog(list.id)">Delete</button>
    </div>
  </div>


</div>
